# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of go build
/build/
/bin/
/dist/

# Dependency directories (if using vendoring)
vendor/

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# GoLand plugin data
*.iml

# Logs
*.log
